@use 'sass:math';
@import '_common.scss';

.header {
    padding: 18px 0;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 45px;
    }

    &__line {
        margin-right: 45px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #24173D;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

    &__phone {
        margin-left: auto;
        margin-right: 50px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29.26px;
        color: #24173D;
    }

    &__button {
        width: 250px;
        height: 50px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.51px;
        color: #24173D;
        background-color: #FFC633;
        border-radius: 30px;
        border: none;
    }
}

.hero {
    padding: 55px 0 220px;
    background-image: url(../img/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: math.div(655px, 1600px)*100%;
    }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 67px;
        line-height: 70px;
        text-transform: uppercase;
        color: #fff;

        &-fw300 {
            font-weight: 300;
            font-size: 29px;
        }
    }

    &__line {
        margin-bottom: 30px;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        color: #fff;
    }

    &__description {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #fff;

        &-fw700 {
            font-weight: 700;
            color: #F6BF33;
        }
    }

    &__card {
        padding: 50px;
        display: flex;
        flex-direction: column;
        width: math.div(890px, 1600px) * 100%;
        align-items: center;
        text-align: center;
        background-color: #FFC633;
        box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
        border-radius: 30px;


        &-title {
            margin: 0;
            margin-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: #24173D;

            &-fw800 {
                font-weight: 800;
                font-size: 87px;
                line-height: 106px;
            }

            &-fw400 {
                font-weight: 400;
                font-size: 29px;
                line-height: 42px;
            }

            &-fw600 {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #fff;
            }
        }

        &-form {
            width: 100%;
        }

        &-input-container {
            display: flex;
            margin-bottom: 30px;
        }

        &-input {
            flex: 1 1 auto;
            padding: 21px 20px;
            margin-right: 30px;
            font-weight: 200;
            font-size: 19px;
            line-height: 23px;
            color: #5C5C5C;
            border: none;
            border-radius: 5px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-btn {
            padding: 21px 36px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #fff;
            text-transform: uppercase;
            background-color: #24173D;
            box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
            border-radius: 43px;
        }
    }
}

.advantages {
    padding-top: 70px;
    padding-bottom: 45px;
    background-image: url(../img/advan-border.svg);
    background-repeat: no-repeat;
    background-position: center 70px;

    .container {
        padding-top: 90px;
        padding-bottom: 90px;
        position: relative;
    }

    &__title {
        top: -25px;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        margin: 0;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        color: #24173D;
        background-color: #fff;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-item {
            flex: 1 1 33.33%;
            display: flex;
            align-items: center;

            &:nth-child(-n+3) {
                margin-bottom: 93px;
            }

            &-img {
                margin-right: 40px;
            }

            &-text {
                margin: 0;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #24173D;
            }
        }
    }
}

.prop {
    .prop__title {
        margin: 0;
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        color: #24173D;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 416px;
            background-repeat: no-repeat;
            background-size: cover;

            &:nth-child(1) {
                background-image: url(../img/prop-img1.png);
            }

            &:nth-child(2) {
                background-image: url(../img/prop-img2.png);
            }

            &:nth-child(3) {
                background-image: url(../img/prop-img3.png);
            }

            &:nth-child(4) {
                background-image: url(../img/prop-img4.png);
            }

            &:nth-child(5) {
                background-image: url(../img/prop-img5.png);
            }


            &:nth-child(-n+3) {
                flex: 0 1 33.31%;
            }

            &:nth-child(n+4) {
                flex: 0 1 49.99%;
            }

            &-title {
                margin: 0;
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }

            &-btn {
                padding: 13px 50px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #24173D;
                background: #FAC86E;
                border-radius: 30px;
                border: none;
                box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
            }
        }
    }
}

.data {
    padding: 108px 0 108px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        margin: 0;
        padding-left: 30px;
        width: math.div(718px, 1920px) *100%;
        font-weight: 800;
        font-size: 44px;
        line-height: 77px;
        text-transform: uppercase;
        color: #24173D;
        border-left: 5px solid #24173D;
    }

    &__list {
        padding: 50px;
        padding-right: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: math.div(1055px, 1920px)*100%;
        background-color: #FFC633;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px 0px 0px 30px;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &-white {
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            &-purple {
                margin-bottom: 20px;
                font-weight: 800;
                color: #24173D;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

                .text {
                    font-size: 30px;
                    line-height: 37px;

                }

                .number {
                    font-size: 75px;
                    line-height: 85.33px;
                }
            }
        }
    }
}

.cta {
    padding-top: 80px;
    padding-bottom: 90px;
    background-image: url(../img/cta-img.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        margin: 0 auto;
        width: math.div(1060px, 1920px)*100%;
        text-align: center;
    }

    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 44px;
        line-height: 54px;
        color: #FFFFFF;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
        color: #FFFFFF;
    }

    &__form {
        width: 100%;
    }

    &__input {
        padding: 20px;
        margin: 20px;
        width: 385px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #383838;
        border-radius: 5px;
        border: none;

        &::placeholder {
            color: rgba($color: #383838, $alpha: .4);
        }
    }

    &__btn {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
        width: 250px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #24173D;
        text-transform: uppercase;
        background-color: #FFC633;
        border: none;
        border-radius: 5px;
    }
}

.footer {
    padding-top: 70px;
    text-align: center;

    &__logo {
        margin-bottom: 40px;
    }

    &__copyright {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #E6E5EA;
        text-align: center;

        &-text {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #4A4A4A;

            .yellow {
                color: #F8B500;
            }
        }
    }
}